@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css?family=Graduate");
body {
  background-color: darkgray;
}
body #container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  word-spacing: 0.15em;
  max-height: 100%;
}
@media screen and (max-width: 525px) {
  body #container {
    top: calc(50% - -25px);
  }
}

}

@media screen and (max-width: 767px) {
  body #container #countdown #cdDays, body #container #countdown #cdHours, body #container #countdown #cdMins, body #container #countdown #cdSecs {
    width: 22%;
  }
}
@media screen and (max-width: 525px) {
  body #container #countdown #cdDays, body #container #countdown #cdHours, body #container #countdown #cdMins, body #container #countdown #cdSecs {
    width: 33%;
  }
}
@media screen and (max-width: 525px) {
  body #container #countdown #cdDays, body #container #countdown #cdHours {
    margin-bottom: 1%;
  }
}

body #container #countdown .label {
  padding: 1.2rem 0;
  opacity: 0.6;
  font-family: "Quicksand", sans-serif;
  background: #ff6f3a !important;
}
@media screen and (max-width: 525px) {
  body #container #countdown .label {
    padding: 0.6rem 0;
  }
}
@media screen and (max-width: 450px) {
  body #container #countdown .label {
    font-size: 4.5vw;
  }
}
body  .text {
  color: #fffce9ff;
  padding-top: 2rem;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 525px) #text1 {
  body  .text {
    padding-top: 1.5rem;
  }
}

@keyframes flame-flicker {
  0%, 100% {
    width: 16px;
    height: 17px;
  }
  25% {
    width: 19px;
    height: 17px;
  }
  50% {
    width: 17px;
    height: 16px;
  }
  75% {
    width: 17px;
    height: 19px;
  }
}

#logo img {
	/* height: 200px; */
	/* width: 200px; */
	width: 25%;
	transition: all .4s ease;
}

#logo img:hover {
	width: 28%;
}

body #container #text {
  color: #767676;
  padding-top: 2rem;
  font-family: "Quicksand", sans-serif;
}

body #container #maata_name {
  color: #767676;
  font-family: "Quicksand", sans-serif;
}

/* https://codepen.io/m-a-l/pen/bwjYxO */
.rainbow {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animatedBackground 5s linear infinite;
    -moz-animation: animatedBackground 5s linear infinite;
    -webkit-animation: animatedBackground 5s linear infinite;
    -ms-animation: animatedBackground 5s linear infinite;
    -o-animation: animatedBackground 5s linear infinite;
}

/* Animation rainbow background */
@keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 500px; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 500px; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 500px; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 500px; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 500px; }
}


/* see more button css */ 

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fffce9;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* social media icon css */

.fa {
  padding: 15px;
  font-size: 30px !important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border: 2px solid;
  color: #fffce9;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  /* background: #125688; */
  color: #fffce9;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}